<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/header.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Faculty+Glyphic&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Major+Mono+Display&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>R Boats: Boat Rentals</title>
  </head>

  <body>
    <header>
      <div class="topBar">
        <div class="topLeft">
          <img src="{{url_for('static',filename = 'images/logo.png')}}" alt="Logo" class="logo">
          <ul class="barItem">
            <li><a href="/">HOME</a></li>
            <li><a href="/boats">BOATS</a></li>
            <li><a href="/create">CREATE BOATS</a></li>
            <li><a href="/update">UPDATE BOATS</a></li>
            <li><a href="/delete">DELETE BOATS</a></li>
          </ul>
        </div>

        <div class="formSection barItem">
          <form class="barItem" action="" method="post">
            <input type="text" name="uid" value="" placeholder="E-mail" required>
            <input type="password" name="pass" value="" placeholder="Password" required>
            <input type="submit" name="loginButton" value="LOGIN">
          </form>

          <button class="barItem input" style="margin-left:10px;">
            <a href="#">SIGNUP</a>
          </button>
        </div>

      </div>
    </header>
    <div class="mainDiv">
    {% block body %}
    {% endblock %}
    </div>
    <footer>
      <div class="footer">
        <div class="footer__addr">

          <h2>Contact</h2>

          <address>
            5534 Somewhere In. The World 22193-10212<br>

            <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
          </address>
        </div>

        <ul class="footer__nav">
          <li class="nav__item">
            <h2 class="nav__title">Media</h2>

            <ul class="nav__ul">
              <li>
                <a href="#">Online</a>
              </li>

              <li>
                <a href="#">Print</a>
              </li>

              <li>
                <a href="#">Alternative Ads</a>
              </li>
            </ul>
          </li>

          <li class="nav__item nav__item--extra">
            <h2 class="nav__title">Technology</h2>

            <ul class="nav__ul nav__ul--extra">
              <li>
                <a href="#">Hardware Design</a>
              </li>

              <li>
                <a href="#">Software Design</a>
              </li>

              <li>
                <a href="#">Digital Signage</a>
              </li>

              <li>
                <a href="#">Automation</a>
              </li>

              <li>
                <a href="#">Artificial Intelligence</a>
              </li>

              <li>
                <a href="#">IoT</a>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <h2 class="nav__title">Legal</h2>

            <ul class="nav__ul">
              <li>
                <a href="#">Privacy Policy</a>
              </li>

              <li>
                <a href="#">Terms of Use</a>
              </li>

              <li>
                <a href="#">Sitemap</a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="legal">
          <p>&copy; 2025 R Boats. NO rights reserved.</p>

          <div class="legal__links">
            <span>Made with <span class="heart">♥</span> from R Boats Web Developer Ronin Sanouvong</span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>