{% extends "base.html" %}
{% block body %}
    <style>
        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80vh;
            color: #753348;
            margin: 50px;
            border-radius: 50px;
            font-family: 'Courier New', Courier, monospace;
            background-color:rgb(252, 249, 245); /* Light beige */
            background-image: url("../static/images/waves.png");
            background-size: cover;
            background-position: 0 300px;
            background-repeat: no-repeat;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border: 2px solid #ab3387; /* Wine */
        }
        .title h1{
            font-size: 50px;
            font-family: 'Major Mono Display', monospace;
            color: #ab3387; /* Wine */
            text-transform: uppercase;
            text-align: center;
        }
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80vh;
            color: #753348;
            width: 100%;
            font-family: 'Courier New', Courier, monospace;
            background-color:rgb(252, 249, 245); /* Light beige */
            border-top: 2px solid #ab3387; /* Wine */
        }
    </style>
    <div class="title">
        <h3> Welcome to </h3>

        <h1> R Boats: Boat Rentals </h1>
    </div>
    <div class="content">
        <h3> This is a simple web application for boat rentals. </h3>
        <h3> You can create, read, update and delete boats. </h3>
    </div>
{% endblock %}
