{% extends "base.html" %}
{% block body %}
    <style>
        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80vh;
            color: #753348;
            margin: 50px;
            border-radius: 50px;
            font-family: 'Courier New', Courier, monospace;
            background-color:rgb(252, 249, 245); /* Light beige */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border: 2px solid #ab3387; /* Wine */
        }
        .title h1{
            font-size: 50px;
            font-family: 'Ubuntu', monospace;
            color: #ab3387; /* Wine */
            text-transform: uppercase;
            text-align: center;
            lettering-spacing: 4px;
        }
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80vh;
            color: #753348;
            width: 100%;
            font-family: 'Courier New', Courier, monospace;
            background-color:rgb(252, 249, 245); /* Light beige */
            border-top: 2px solid #ab3387; /* Wine */
        }
        .input_field {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
    
        .input_submit {
          width: 100%;
          background-color: #6f4caf; /* Purple */
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
    
        .input_submit:hover {
          background-color: #9576b8; /* Lighter Purple */
        }
    </style>
    <div class="title">
        <h3> Welcome to </h3>

        <h1> Bank Application </h1>
        <form action="/profile" method="POST">
            <div class="inputs">
                <div class="form-group">
                    <input class="input_field" type="text" id="username" name="username" placeholder="Username" required>
                    <input class="input_field" type="password" id="password" name="password" placeholder="Password" required>
                </div>
            </div>
        <button class="input_submit" type="submit">Log in</button>
        <button class="input_submit" type="button" onclick="window.location.href='/account_create'">Create Account</button>
      </form>
    </div>
{% endblock %}
