
{% extends "base.html" %}
{% block body %}
    <style>
        body{
            background-color: rgb(252, 249, 245); /* Light beige */
        }
        .body {
            font-family: 'Courier New', Courier, monospace;
            transition: background-color 1.5s ease;
        }
        h1 {
            color: #ab3387; /* Wine */
            text-align: center;
            margin-top: 50px;
        }
        #result {
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
        }
    </style>
    <div class="body">
    <h1>Logging in...</h1>
    {% if (success and approved) and (not admin) %}
        <p id="result">Login successful!</p>
    {% elif success and admin%}
        <p id="result">Admin access granted.</p>
    {% elif not approved%}
        <p id="result">Login failed. Account Not Approved.</p>
    {% else %}
        <p id="result"> Login failed. Invalid credentials.</p>
    {% endif %}
    </div>
    <script>
        setTimeout(function() {
            var result = document.getElementById("result");
            if (result.innerText === "Login successful!") {
                result.style.color = "green";
                var background = document.querySelector('.body');
                background.style.backgroundColor = "rgb(144, 238, 144)"; // Light green
                setTimeout(function() {
                    window.location.href = "/profile/{{ username }}"; // Redirect to profile page
                }, 2000); // Redirect after 2 seconds
            } 
            else if (result.innerText === "Admin access granted.") {
                result.style.color = "green";
                var background = document.querySelector('.body');
                background.style.backgroundColor = "rgb(144, 238, 144)"; // Light green
                setTimeout(function() {
                    window.location.href = "/admin"; // Redirect to admin page
                }, 2000); // Redirect after 2 seconds
            } 
            else if (result.innerText === "Login failed. Account Not Approved.") {
                result.style.color = "red";
                var background = document.querySelector('.body');
                background.style.backgroundColor = "rgb(255, 162, 159)"; // Light Red
                setTimeout(function() {
                    window.location.href = "/"; // Redirect to home page
                }, 2000); // Redirect after 2 seconds
            }
            else {
                result.style.color = "red";
                setTimeout(function() {
                    window.location.href = "/";
                }, 2000); // Redirect after 2 seconds
            }
        }, 10); // Wait for 2 seconds before changing color
    </script>
{% endblock %}